@media (max-width: 1330px) {
    section {
        width: 80%;
    }

    .result-data {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    section {
        width: 90%;
    }

    .result-data {
        width: 90%;
    }

    .logo {
        width: 110px;
        height: 110px;
        margin-block: 40px;
    }
}

@media (max-width: 820px) {
    .titulo {
        font-size: 28px;
    }

    .otp input {
        height: 60px;
        width: 60px;
        font-size: 28px;
    }

    #search {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    #search i {
        font-size: 20px;
    }

    .result-data p {
        font-size: 16px;
    }

    .result-data .ganhou {
        font-size: 16px;
    }

    .result-data .acumulado {
        font-size: 14px;
    }
}

@media(max-width: 638px) {
    main {
        justify-content: center;
    }

    img.logo {
        margin-top: 0;
        margin-bottom: 25px;
    }

    .titulo {
        font-size: 22px;
    }

    .otp input {
        height: 60px;
        width: 60px;
        font-size: 30px;
    }
}

@media(max-width: 478px) {
    .logo {
        margin-block: 60px;
    }

    .titulo {
        font-size: 20px;
    }

    .otp {
        gap: 7px;
    }

    .otp input {
        height: 60px;
        width: 60px;
        font-size: 28px;
    }

    #search {
        width: 40px;
        height: 40px;
        margin-top: 6px;
    }

    #search i {
        font-size: 18px;
    }
}

@media(max-width: 440px) {
    .titulo {
        font-size: 18px;
    }

    .otp {
        gap: 6px;
        font-size: 20px;
    }

    .otp input {
        height: 55px;
        width: 55px;
        font-size: 24px;
    }

    .result-data {
        padding: 10px;
    }

    .result-data p {
        font-size: 15px;
    }

    .result-data .acumulado {
        font-size: 13px;
    }

    .result-data span {
        font-size: 14px;
    }
}

@media(max-width: 400px) {
    .otp input {
        height: 50px;
        width: 50px;
        font-size: 22px;
    }
}